---
layout: default
title: Business Verification
parent: Guides
nav_order: 2
has_children: true
has_toc: true
---
# Business Verification
We may ask you to verify your business. This process helps us confirm that your account belongs to a legitimate business or organisation.

Business verification helps ensure that:

- **Your business is a legal entity.** You'll need to have your business registered with the local authorities, and you'll need an official phone number or postal address for your business.
- **You're an authorised representative of your business.** You'll need to be able to receive a verification code sent to the phone number or email address for your business, or use the domain verification process.

Send your documents to <business.verification@otpalerts.com>

## Verify the legal business name
You are required to provide official documentation of your business's legal name. You can send an official document that matches the business's legal name that you entered at the time of registration, such as a business licence, articles of incorporation or business tax registration. See table below for examples of the documents you can submit for your country.

## Verify the business address or phone number
Send the document that shows both the legal name of your business and the postal address or phone number shown on the screen.

After you've sent the documents, we'll review them as quickly as we can. This may take several days. 

## List of valid documents
The table below shows what documents you can submit for business verification processing for your country of residence.

| Country | Documents  |
|---------|------------|
| Brazil  | * Business bank statement<br/> * Cadastro Nacional da Pessoa Juridica (CNPJ)<br/> * Certificado da Condicao de Microempreendedor Individual (MEI)<br/> * Contrato Social<br/> * Utility bill|
| China  | * 公司註冊證書<br/> * 商業登記摘錄<br/> * 商業登記證<br/> * 营业执照<br/> * 銀行帳單|
| Cyprus  | * Αντίγραφο κίνησης λογαριασμού / Hesap özeti<br/> * Εγγραφή στο μητρώο Φ.Π.Α.<br/> * Καταστατικό / Şirket ana sözleşmesi<br/> * Μητρώο Επιχειρηματικών Οντοτήτων<br/> * Συστατική Πράξη Εταιρείας / Şirket Kuruluş Onay Belgesi|
| France  | * Avis de situation au repertoire Sirene<br/> * Extrai d'immatriculation D1<br/> * Extrait K, L, Kbis ou Lbis<br/> * Facture d'électricité, de gaz ou d'eau<br/> * Lettre de confirmation de numéro SIREN délivrée par l'Urssaf<br/> * Statuts de l'enterprise<br/> * VAT registration|
| India  | * Business bank statement<br/> * Business licence<br/> * Certificate of incorporation<br/> * Goods and services tax registration certificate (GST)<br/> * Permanent account number card (PAN)<br/> * Shop establishment certificate<br/> * Udyog Aadar (UID)<br/> * Utility bill|
| Indonesia  | * Business bank statement<br/> * Izin Usaha Mikro Kecil (IUMK)<br/> * Nomar Induk Berusaha (NIB))<br/> * Surat Izin Usaha Perdagangan (SIUP)<br/> * Surat Pengukuhan Pengusaha Kena Pajak (SPPKP<br/> * Tanda Daftar Perusahaan (TDP<br/> * Utility bill|
| Ireland	 | * An Oifig um Chlárú Cuideachtaí<br/> * Business bank statement<br/> * Business tax certificate<br/> * Certificate of business incorporation<br/> * Certificate of registration<br/> * Utility bill|
| Italy	 | * Atto Costitutivo<br/> * Certificato di Registrazione Aziendale<br/> * Registro Imprese dell'archivio ufficiale della CCIAA<br/> * Statuto<br/> * Business bank statement<br/> * Certificate of formation<br/> * Utility bill<br/> * Value-added tax certificate (VAT)|
| Japan	 | * 個人事業の開業, 廃業等の届出書<br/> * 営業許可<br/> * 定款<br/> * 履歴事項全部証明書<br/> * 法人番号指定通知書<br/> * 納税証明書<br/> * Utility bill<br/> * Business bank statement|
| South Korea	 | * 사업자등록증<br/> * 요금납부 내역서<br/> * 지방세 납세 증명서<br/> * 지방세 납세 증명서|
| Taiwan	 | * 台中市政府函<br/> * 有限公司设立登记表<br/>|
| UAE	 | * Certificate of formation<br/> * رخصة تجارية<br/> * شهادة تسجيل لضريبة القيمة المضافة<br/> * فاتورة اتصالات<br/> * فاتورة الكهرباء<br/> * كشف حساب بنك|
| Ukraine	 | * Виписка з єдиного державного реєстру юридичних осіб , фізичних осіб-підприємців та громадьских формувань<br/> * Виписка з єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців<br/> * Витяг з реєстру платників єдиного податку<br/> * Свідоцтво платника єдиного податку|
| United Kingdom	 | * Business bank statement<br/> * Certificate of incorporation<br/> * Certificate of public liability insurance<br/> * Companies House document<br/> * Company registration number (CRN)<br/> * HM Revenue and Customs: VAT certificate<br/> * HM Revenue and Customs: Account statement<br/> * Utility bill|
| United States	 | * Articles of incorporation<br/> * Business bank statement<br/> * Business licence<br/> * Employer identification number (EIN)<br/> * IRS SS-4 (EIN assignment letter)<br/> * IRS 147c (EIN confirmation letter)<br/> * Taxpayer identification number|